
body {
    font-family: 'Raleway', sans-serif;
    width:40%;
    margin:auto;
    line-height:0.5em;
    font-weight:500;
}
a {
    color:black;
    text-decoration:none;
}

h1 {
    font-size:1em;
    font-weight:800;
}
h2 {
    font-size:0.75em;
    font-weight:800
}
h3 {
    font-size:0.7em;
    font-weight:500; 
}
span {
    font-weight: 800;
}
input::placeholder{
    color:black;
    font-weight:800;
    font-family: "raleway", sans-serif;
}
input {
    border:none;
}


/*header*/

#inscription {
    color:#0065FC;
    font-weight:bold;
}
#barnav {
    text-align:right;
    padding-top:20px;
       
}
#barnav ul li {
    list-style: none;
    display:inline-block;
    font-size:0.7em;
    width:115px; 
    height:30px; 
}
#barnav ul li a:hover {
    border-top:1px solid #0065FC;
    color:#0065FC;
    padding-top: 33px;
    }
#logo {
    margin-bottom:30px;
}



/*Zone de recherche*/


#search {
    display:flex;
    width:500px;
    height:35px;
    margin-bottom:20px;
    margin-top:15px;
}
#search button {
    border-radius:0px 0.75em 0.75em 0px;
    border:none;
    background-color:  #0065FC;
    color:white;
    width:90px;
    font-family: "raleway", sans-serif;
    font-weight:600;
    cursor: pointer;
    
}
#search button:focus{
    outline:0;
    
}
#search button:active{
    background-color:#DEEBFF 
}
#searchicon {
    background-color:#F2F2F2 ;
   width:35px;
   border-radius:0.75em 0px 0px 0.75em;
   display:flex;
   justify-content: center;
   align-items: center;
}
#search input {
    border:1px solid #F2F2F2 ;
}
/*Barre de filtre*/

#filters {
display:flex;
justify-content:left;
align-items: center;
margin-bottom:5px;
}

#filters h2 {
    margin-right:25px;    
}
#filters button{
    height:35px;
    margin-right:20px;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border:2px solid #F2F2F2;
    border-radius: 35px ;
    font-family: "raleway", sans-serif;
    font-weight:500;
    font-size: 1em; 
    cursor: pointer;
    position:relative;
    
   
}
#filters button .fas {
    border-radius: 35px;
    background-color: #DEEBFF;
    width:35px;
    height:35px;
    display:flex;
    align-items: center;
    justify-content:center;
    margin-right: 0.75em;
    position:relative;
    left: -2px;
    
   
}
.jauge-remplissage {
    transition: all 0.15s linear 0s;
    background-color: #DEEBFF;
    width: 33px;
    height: 33px;
    position: absolute;
    left: -2px;
    top: px;
    opacity:0.4;
    border: 1px solid #DEEBFF;
    border-radius: 35px ;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
    
    
}
#filters button:hover .jauge-remplissage {
    width: 101%;
    height:110%;
    
    
    
}
#filters button:focus{
    outline:0;
}
#info {
    margin-right:5px;
    width:max-content;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:30px;
    
}
.fa-info{
    width:15px;
    height:15px;
    border-radius:15px;
    border: 2px solid #F2F2F2;
    display:flex;
    align-items: center;
    justify-content:center;
    margin-right: 5px;   
    font-size:xx-small;
}
.fa-child, .fa-heart, .fa-dog, .fa-money-bill-wave, .fa-star, .fa-info  {
    color:#0065FC
}

/* Pour distinguer les étoiles grises des étoiles bleues*/
.empty{
    color:#F2F2F2
}


/*Hebergements et Les plus populaires*/


