
body {
    font-family: 'Raleway', sans-serif;
    width:1440px;
    margin:auto;
    line-height:18px;
    font-weight:500;
}

.container {
    width:1340px;
    margin:auto;
}

a {
    color:black;
    text-decoration:none;
    font-size:16px;
}

h1 {
    font-size:20px;
    font-weight:800;
}

h2 {
    font-size:20px;
    font-weight:800;
}
h3 {
    font-size:16px;
    font-weight:800;
}

h4 {
    font-size:15px;
    font-weight:500; 
}


span {
    font-weight: 800;
}

input::placeholder{
    color:black;
    font-weight:800;
    font-family: "raleway", sans-serif;
    font-size:18px;
}

input {
    border:none;
    padding-left:16px;
}
#hebergements h1 {
    display: none;
}

/*header*/

#top h1 {
    margin-bottom:16px;
}

#inscription {
    color:#0065FC;
    font-weight:bold;
}

#barnav {
    text-align:right;
    padding-top:20px;
    position:relative; 
    margin-bottom:-35px;  
}

#barnav ul li {
    list-style: none;
    display:inline-block;
    font-size:0.7em;
    margin-left:20px; 
}

#barnav ul li a:hover{
    border-top:1px solid #0065FC;
    color:#0065FC;
    padding-top: 33px;
}
.lien_actif {
    border-top:1px solid #0065FC;
    color:#0065FC;
    padding-top: 33px;
    cursor:pointer
}

#logo {
    margin:0;
    margin-bottom:30px;
    
}
.onlymobile {
    display:none;
}


/*Zone de recherche*/

#boutonremplacement {
        display:none;
    
}
#search {
    display:flex;
    width:420px;
    height:50px;
    margin-bottom:30px;
    margin-top:20px;
}

#boutonsearch{
    border-radius:0px 0.75em 0.75em 0px;
    border:none;
    background-color:  #0065FC;
    color:white;
    width:135px;
    font-family: "raleway", sans-serif;
    font-weight:600;
    cursor: pointer;
}

#search button:focus{
    outline:0;
}

#search button:active{
    background-color:#DEEBFF 
}

#searchicon {
    background-color:#F2F2F2 ;
   width:50px;
   border-radius:0.75em 0px 0px 0.75em;
   display:flex;
   justify-content: center;
   align-items: center;
}

#search input {
    border:1px solid #F2F2F2 ;
    width:235px;
}



/*Barre de filtre*/

#filters {
display:flex;
justify-content:left;
align-items: center;
margin-bottom:20px;
}
#buttons {
    display:flex;
}
#filters h3 {
    margin-right:30px;    
}

.button{
    height:50px;
    margin-right:20px;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border:2px solid #F2F2F2;
    border-radius: 50px ;
    font-family: "raleway", sans-serif;
    font-weight:500;
    font-size: 1em; 
    cursor: pointer;
    position:relative;
}
.button .fas {
    border-radius: 50px;
    background-color: #DEEBFF;
    width:50px;
    height:50px;
    display:flex;
    align-items: center;
    justify-content:center;
    position:relative;
    left: -2px;  

}
.button:hover .jauge-remplissage { /*Au survol des filtres, la transition se fait*/
    width: 101%;
    height:110%;   
}
.button h3 {
    padding-left:12px;
}

.jauge-remplissage { /*Permet la transition du changement de background de gauche à droite */
    transition: all 0.15s linear 0s;
    background-color: #DEEBFF;
    width: 48px;
    height: 48px;
    position: absolute;
    left: -2px;
    opacity:0.5;
    border-radius: 35px ;
    display:flex;
    align-items: center;
    justify-content: space-between;    
}

#filters div button:focus{
    outline:0;
}

#info {
    margin-right:5px;
    width:max-content;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:25px;
}

#logoinfo {
    width:25px;
    height:25px;
    border-radius:25px;
    border: 2px solid #F2F2F2;
    display:flex;
    align-items: center;
    justify-content:center;
    margin-right: 5px;       
}

.fa-child, .fa-heart, .fa-dog, .fa-money-bill-wave, .fa-star, .fa-info  {
    color:#0065FC
}



/* Pour distinguer les étoiles grises des étoiles bleues*/

.empty{
    color:#F2F2F2
}


/*Hebergements et Les plus populaires*/


#hebergements {
    display:flex;
    justify-content: space-between;
    width:1340px;
    height:625px;
}

article {
    background-color:#F2F2F2;
    padding: 10px 40px;
    border-radius:15px;
    width:835px; 
    margin-right:45px; 
    
}

article h2 {
    margin-bottom: 30px;
}

#afficher {
    margin-top:15px;
}

#hebergementcontent{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.hotel {
    width:235px;
    border-radius: 15px;
    border:5px solid white;
    height:200px; 
    margin-bottom:35px ;
    box-shadow: 4px 4px 14px lightgrey;
    display:flex;
    flex-direction:column;

}

.hotelname {
    width:227px;
    height:75px;
    background-color: white;
    border-radius:0 0 10px 10px;
    padding-left:10px;
    padding-bottom:10px;
    line-height: 1px;
    margin: 0 -1px -1px -1px;
}
    
#cannebiere {
    background: url("images/hebergements/canebiere.jpg") no-repeat;
    background-size:cover;
    border-radius:10px 10px 0 0;
    width:235px;
    height:115px;
}

#port {
    background: url("images/hebergements/port.jpg") no-repeat;
    background-size:cover;
    border-radius:10px 10px 0 0;
    width:235px;
    height:115px;
}
    
#mouettes {
    background:url("images/hebergements/mouettes.jpg") no-repeat;
    background-size:cover;
    border-radius:10px 10px 0 0;
    width:235px;
    height:115px;
}
    
#mer {
    background: url("images/hebergements/mer.jpg") no-repeat;
    background-size:235px 115px;
    border-radius:10px 10px 0 0;
    width:235px;
    height:115px;
}

#panier {
    background: url("images/hebergements/panier.jpg") no-repeat;
    background-size:cover;
    border-radius:10px 10px 0 0;
    width:235px;
    height:115px;
}
    
#amina {
    background: url("images/hebergements/amina.jpg") no-repeat;
    background-size:235px 115px;
    border-radius:10px 10px 0 0;
    width:235px;
    height:115px;
}

aside {
    background-color:#F2F2F2;
    border-radius:15px;
    padding:10px 20px 0px 35px;
    width:355px;
    
}

#title {
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom:5px;
        margin-right:45px;
        
}

.pophotel {
    border:5px solid white;
    border-radius: 15px;
    height: 135px;
    margin-bottom:35px;
    display:flex;
    width:335px;
    box-shadow: 4px 4px 14px lightgrey;
}

.pophotelname {
    padding-left:20px;
    padding-bottom:15px;
    padding-right:40px;
    background-color: white;
    margin-right:-1px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 0px; 
    width:150px;
    height:121px;
    border-radius:5%;  
}

.pophotelname div h3 {
    line-height:18px
}
.pophotelname div h4 {
    line-height:18px;
}
#matin {
    background: url("images/hebergements/soleil.jpg") no-repeat;
    border-radius:15px 0 0 15px;
    background-size: cover;
    width:135px;

   
}

#eau {
    background: url("images/hebergements/eau.jpg") no-repeat;
    border-radius:15px 0 0 15px;
    width:135px;
    background-size: cover;

}

#bleublanc {
    background: url("images/hebergements/bleublanc.jpg") no-repeat;
    border-radius:15px 0 0 15px;
    background-size: cover;
    width:135px;

}


/*Activités*/

#activités {
    margin-top:65px;
    width: 1340px;
}

#activités h1 {
    margin-bottom:25px;
}

#activité h3{
    height:55px;
    background-color: white;
    border-radius: 0 0 15px 15px;
    padding-left:20px;
    display:flex;
    align-items: center;
    width:301px;
    margin:-1px;
}

#activité {
    height:445px;
    width:1340px;
    border-radius:15px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5px repeat(88, 5px);  
    column-gap:45px;  
}
#activité a {
    display:flex;
    width:301px;
    align-items: flex-end;
    box-shadow: 4px 4px 14px lightgrey;
   

}


#vieuxport {
    background:url("images/activites/vieuxport.jpg") no-repeat;
    border-radius: 15px;
    grid-column-start: 1;
    grid-row: 1/span 89;
    background-position: center;
    background-size: 225%;
   
}

#fortdepomègues {
    background:url("images/activites/pomergues\ .jpg") no-repeat;
   border-radius: 15px;
    grid-column-start: 2;
    grid-row:1/span 48;
    background-position: center;
    background-size: 100%;
    
}

#ilesdufrioul {
    background:url("images/activites/frioul.jpg") no-repeat;
    border-radius: 15px;
    grid-column-start: 2;
    grid-row: 56/span 89;
    background-size: 100%;
    background-position: center;
   
}

#parcnationaldescalanques {
    background: url("images/activites/calanques.jpg") no-repeat;
    border-radius: 15px;
    grid-column-start:3;
    grid-row: 1/span 89;
    background-size: 225%;
    
}

#notredamedelagarde {
    background: url("images/activites/notredame.jpg") no-repeat;
    border-radius: 15px;
    grid-column-start:4 ;
    grid-row: 1/span 40;
    background-size: 110%;
    background-position: center;
    
}

#parclongchamps {
    background: url("images/activites/longchamps.jpg") no-repeat;
    border-radius: 15px;
    grid-column-start:4 ;
    grid-row:47/span 89;
    background-size: cover;
    background-position: center;
}





/*footer */


footer{
     background-color:#F2F2F2 ;
     margin:auto;
    padding-top:20px;
    width:1440px;
    height:215px;
    margin-top:60px;
    
}
footer div {
    display:flex;
    justify-content:space-between;
    width:1025px;
}

footer div ul {
    
    white-space:nowrap;
}

footer div ul li {
    margin-bottom:15px;
    list-style: none;
       
}
footer div ul li a {
    font-size:15px;
    font-weight:500; 
}

.espaceliste {
    margin-bottom:30px;
    font-size:16px;
    font-weight:800;
}



/*version mobile*/



@media only screen and (min-width : 768px) and (max-width : 1439px) 
{
    body {
        width:768px;
        margin:auto;
       }
    .container {
        width:748px;
        margin:auto;
        padding:0;
        
    }
     
    #filters {
        width:748px;
    }
    #filters h3 {
        margin-right:10px
    }

    .button {
    width: 160px;
    margin-right:10px;
    }
    
    .button .fas {
        width:50px;
        left:0px;
    }

    .button h3 {
        padding:0px;
        word-wrap: break-word;
        width:110px;   
    }
    
    #hebergements {
        width:748px;
        display:flex;
        flex-direction: column-reverse;
        height:auto;
        padding:0;
    }
    
    article {
        margin-right:0px;
        width:748px;
        padding:0;
        
    }
    
    #hebergementcontent {
        justify-content:space-around;
        margin-top:50px;
        padding:0;
    }
    
    #afficher {
        margin-left:40px;
    }
    aside {
        width: 748px;
        padding:0px;
        margin-bottom:50px;
        
    }
    #popcontent {
        display:flex;
        justify-content: space-around;
    }
    .pophotel {
        width:230px;
        height:145px
    }
    .pophotelname {
        width:190px;
        padding:0;
        height:145px;
        line-height: 14px; 
        padding-left:5px;
        justify-content:flex-start;
        margin:0;
        position:relative;

    }
    .étoile {
        position: absolute;
        top:125px;
    }
   
    .hotelname div h3 {
        line-height:14px
    }
    
    #title {
        margin-bottom:30px;
        
    }
    #title i {
        margin:auto;
        
    }
    aside a {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    #activités {
        width:668px;
        padding-left:10px;
        margin-top:100px;
    }
    
    #activité {
        width:603px;
        height:930px;
        padding-left: 75px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr repeat(27,1fr) 
        }
    
    #activité a {
        width:250px;
        margin-top:30px;

    }
    
    #vieuxport {
        grid-column-start: 1;
        grid-row: 1/12;
        
    }
    #fortdepomègues {
        grid-column-start:2 ;
        grid-row: 1/8;
    }
    #ilesdufrioul {
        grid-column-start:2 ;
        grid-row: 8/14;
        
    }
    #parcnationaldescalanques {
        grid-column-start:2 ;
        grid-row: 14/27;
       
    }
    #notredamedelagarde {
        grid-column-start:1 ;
        grid-row:12/19;
        
    }
    #parclongchamps {
        grid-column-start:1 ;
        grid-row: 19/27;
        
    }
   footer {
    width:100%;
    }
    footer div {
        width:748px;
        justify-content: space-around;
        margin:auto;
    }
}




@media only screen and (max-width : 767px) 
{
    body {
        width:auto;
        padding-top:20px;
        margin:auto;
        padding:0;  
    }

    .container {
        padding:0px 0px;
        width:355px;
    }

    #hebergementlink ,#activitélink {
        display:none;
    }

    header {
        display:flex;
        width:375px;
        flex-wrap:wrap;
        justify-content: space-between;
        }
    #barnav {
        text-align:right;
        padding-top:0px;
        order:2;
        
    }
    .onlymobile {
        display:flex;
        order:3;
        width:375px;
        justify-content: space-around;
        
    }
    .soulignement {
        width:187.5px;
        text-align:center;
        border-bottom:3px solid #F2F2F2;
        padding-bottom:10px;
    }
    .soulignement:active{
        justify-content: space-around;
        border-bottom:3px solid #0065FC;
        color:#0065FC
        
    }
    #barnav ul li a:hover {
        border:none;
        padding-top:0;
    }
    #logo {
        order:1;
        margin-left:20px;
        
        
    }

    #top{
        padding:10px 20px 0 20px;
        width:335px;
        
    }
    
    #search {
        width:375px;
        margin-top:30px;
    }
    #boutonsearch {
        display:none;
    }
    #boutonremplacement {
        display:inline-block;
        width:50px;
        background-color:  #0065FC;
        border-radius:0.75em;
        border:none;
        color:white;
       
    }
    #search input {
        width:225px;
    }
    #filters {
        flex-direction: column;
        justify-content: right;
        align-items: flex-start;
        width:375px;

    }
    #buttons {
        width:375px;
        flex-wrap:wrap;    
        padding:0px;
        margin:0;
    }

    .button{
        margin-right:10px;
        justify-content:start;
        margin-bottom:12px;
    }
    .button h3 {
        padding:0px;
        margin:0;
        
    }
    #info {
        align-items: flex-start;
    }
    #info h4 {
        word-wrap: break-word;
        margin:0;
        width:300px;
        margin-right:25px;
        height:25px;
        margin-bottom:40px;
        margin-left:10px;
        
    }
    
    
    #hebergements {
        flex-direction: column;
        width:315px;
        height:auto;
    }
    #hebergements article h3 {
        margin:0;
        margin-left:20px;
        padding:0;
    }
    article {
        width:375px;
        padding:0;
        margin:0;
        order:2;
        background-color: white;
        margin-top:40px;
    }

    #hebergementcontent {
        width:355px;
        flex-direction: column;
        padding-left:20px;
        padding-top:15px;
        padding-bottom:50px;
    }
    article h2 {
        margin-bottom: 20px;
        padding-left:20px;
    }
    .hotel{
        width:325px;
        margin-bottom:10px;
        
    }
    .hotelname {
        width:310px;
        height:55px;
        padding:0;
        padding-top:15px;
        padding-left:15px;
        position: relative;
        
    }
    .hotelname h3 {
        position:absolute;
        left:-5px;
        
    }
    #cannebiere, #port, #mouettes, #mer, #panier, #amina {
        width:325px
    }
    #mer, #amina {
        background-size: cover;
        background-position: center;

    }
    aside {
        order:1;
        width:335px;
        padding:10px 20px 35px 20px;
        border-radius: 0px;
    }
    .pophotel {
        margin: 0 0px 10px 0px;
        width:335px;
    }

    .pophotelname {
        padding:0;
        width:185px;
        height:121px;
        padding-bottom:15px;
        padding-left:15px
    }
    #activités {
        width:335px;
        margin-top:60px;
        padding:0 20px 0 20px;
     
    }
    #activité {
        width:375px;
        height:auto;
        display:flex;
        flex-direction: column;
    }
    #activité a {
        width:335px;
        height:190px;
        margin-bottom:20px;
    }
    #activité h3 {
        width:335px;
    }
    footer {
        width:100%;
        height:auto;
    }

    footer div {
        width:375px;
        flex-direction: column;
    }
    .espaceliste{
        margin-bottom:20px;
    }
}
/*site fait à partir de 1440px, ceci permet de faire toute la largeur de l'écran si résolution supérieure à 1440px 
et pouvant garder les proportions de la maquette si résolution inférieure*/

@media only screen and (min-width : 1540px) { 
    body {
        width:100%;
        margin:auto;
    }
    #barnav ul li {
        margin-left:8%;
    }
    .container {
        width:90%;
    }
    footer {
        margin:auto;
        width:100%;
        margin-top:60px;
    }
    footer div {
        margin:auto;
        width:80%;
    }
    .button{
        margin-right:10%;
        white-space: nowrap; 
    
    }
    #filters h3 {
        padding-right:100px;
    }
    .button h3 {
        padding:0;
        width:50px;
        padding-left:20px;
    }
    #activités {
        width:100%;
    }
    #activité {
        width:100%
    }
    #activité a, #activité h3 {
        width:100%;
    }
    #vieuxport, #fortdepomègues, #ilesdufrioul, #notredamedelagarde, #parclongchamps {
      
    }
    article {
        width:60%;
    }
    #hebergements, #hebergementcontent {
        width:100%;
    }
    #hebergementcontent a {
        width:30%;
    }
    aside {
        width:30%
    }
   .hotel {
    width:100%;
    }
    .hotelname {
        width:98%
    }
    #cannebiere, #port, #mouettes, #mer, #panier, #amina {
        width:100%;
        background-size: cover;
        background-position: center;
    }
    .pophotel, .pophotelname {
        width:80%;
    }


}
